*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/space.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.earth {
    width: 300px;
    margin: 100px;
    position: relative;
    z-index: 1;
}

.moon {
    position: absolute;
    top: 180px;
    left: 180px;
    z-index: 0;
    animation: orbita 9s infinite linear;
}

@keyframes orbita{
    0%{
        width: 80px;
    }
    24% {
        z-index: 0;
    }
    25% {
        left: 450px;
        top: 130px;
        z-index: 2;
    }
    
    50% {
        left: 190px;
        top: 200px;
        width: 130px;
    }
    74% {
        z-index: 2;
    }
    75% {
        left: 10px;
        top: 150px;
        z-index: 0;
    }
    
    100% {
        top: 180px;
        left: 180px;
        width: 80px;
        transform: rotate(360deg);
    }
}